.card-header{
    color:white;
    background-color:#746d75;
}
.card-body{
   background-color: #e28412; color:white;
}
.horizontal-scroll-container{
    overflow-y: hidden; 
    overflow-x: auto;
    width: auto;
    padding: 10px;
    white-space: nowrap;
}
.horizontal-scroll-container div {
    background-color:white;
    text-align:center;
    height:auto;
    width:100px;
    margin: 0 10px 0 0;
    padding: 0 0 10px 0;
    display: inline-block; 
    word-wrap: break-word;
}
.searchThis > p{
   word-wrap: break-word;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}